[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir Dvrptr
Name[es_ES]=DVPTR
Comment=
Exec=sh -c 'cd /home/pi/V11;sleep 15; sudo sh ejecutar_dvrptr.sh'
Icon=/home/pi/V11/ICONO_ABRIR.png
Terminal=false
StartupNotify=false
Path=
Hidden=false

