[Desktop Entry]
Version=1.0
Type=Application
Name=Abrir solo FUSION
Name[es_ES]=SOLOFUSION
Comment=
Exec=sh -c "cd /home/pi/V11/;sleep 15;lxterminal --geometry=80x20 -e sudo sh ejecutar_solofusion.sh"
Icon=/home/pi/V11/ICONO_ABRIR.png
Terminal=false
StartupNotify=false
Path=
Hidden=false

